.navbar {
    display: flex;
    box-shadow: rgba(0,0,0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand {
    font-size: 1.2em;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list { 
   display: flex; 
   list-style: none;
}

.links_list {
    margin-right: 1em;
}


.links_list li a {
    padding: .4em .6em;
} 

.active {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 992px) { 
    .navbar {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 535px) { 
    .navbar {
        max-width: 100%;   
        display: flex;
        justify-content: space-evenly;  
        align-items: center;
    }

    .links_list { 
        display: wrap; 
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 0.8em;
        letter-spacing: 0.1em;
        margin-bottom: 1em;
     }     

     .links_list li a {
        padding: .2em 3em;
    }    
}