.post_detail {
    margin-bottom: 2em;
}

.post_detail img {
    max-width: 800px;
    margin: 0 auto;
}

.post_detail h2 {
    margin-bottom: .4em;
}

.post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
}

.tags p {
    margin-right: .5em;
}

.tags span {
    font-weight: bold;
}

.createdBy {
    font-style: italic;
    color: #444;
    font-size: 0.8em;
    margin-bottom: 1em;
}

@media screen and (max-width: 992px) {
    .post_detail img {
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .createdBy {
        font-style: italic;
        color: #444;
        font-size: 1em;
        margin-bottom: 1em;
    }
    .post_detail h2 {
        margin-bottom: .4em;
    }

    .tags p {
        margin-right: .5em;
        display: flex;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .post_detail img {
        max-width: 95%;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .post_detail h2 {
        margin-bottom: 1em;
        text-align: center;
    }

    .createdBy {
        width: 100%;
    }

    

    .tags span {
        font-weight: bold;
    }
    
}


@media screen and (max-width: 450px) {
      .post_detail img {
          max-width: 95%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          justify-items: center;
      }

      .post_detail {
        text-align: center;
      }

      .post_detail .tags {
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }
  
      .post_detail h2 {
          margin-bottom: .4em;
      }
  
      .createdBy {
          width: 100%;
      }
}


